.pushy {
  position: absolute;
  width: 160px;
}

.pushy ul {
  list-style: none;
  margin: 0;
}

.pushy a {
  padding: 14px 18px;
}

.pushy a:hover {
background: none;
color: #36c;
}

.container-push, .push-push{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

#container {
  box-shadow: -2px 0px 5px 0px #ccc;
  -webkit-box-shadow: -2px 0px 5px 0px #ccc;
  -moz-box-shadow: -2px 0px 5px 0px #ccc;
  z-index: 4;
}

.pushy{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    z-index: 1;
    border-right: 1px solid #ccc;
}

.pushy-active .site-overlay {
display: none;